.modal {
  font-family: "Open Sans";
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 120px;
  width: 750px;
  height: auto;
  margin: 0 auto;
  background: #ffffff;
  border: none;
  border-radius: 0;
  outline: none;
  padding: 24px;
  overflow: auto;
}

.overlay {
  font-family: "Open Sans";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
